.cardProducto {
    width: 20rem;
    margin: 4px;
    display: flex;
    margin: 2rem;
    justify-content: space-evenly;
}

.contador {
    cursor: default;
}

.total {
    display: flex;
    justify-content: flex-start;
}

.contenidoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemDetail {
    display: flex;
    padding: 5rem;
    margin: 5rem;
}

.verCompra {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}